*
!.*
!.*/*
!.*/*/*
!.*/*/*/*
!bin
!bin/*
.*history
.adobe
.ansible
.aptitude
.aws
.aws-sso
.bash_logout
.bundle
.cache
.CFUserTextEncoding
.codeintel
.config
.cups
.docker
.dotfiles.git
.dropbox
.DS_Store
.dvdcss
.electrum
.fontconfig
.gem
.heroku
.homeconfig.git
.htoprc
.irssi/away.log
.iterm
.lesshst
.mono
.netrc
.node-gyp
.nodenv
.nodenv-arm
.npm
.nvm
.oh-my-zsh
.passenger
.pgadmin_histoqueries
.pgpass
.pow
.rbenv
.rbenv-arm
.rdebug_hist
.sendcat
.ssh
.subversion
.sudo_as_admin_successful
.thumbnails
.Trash
.vbox_version
.vim
.viminfo
.vscode
.wireshark
.wireshark-etc
.Xcode
.yarnrc
.zcompdump
.zcompdump-*
.zsh_sessions
.zsh-update
