*
!.*
!.*/*
!.*/*/*
!.*/*/*/*
!bin
!bin/*
.*history
.DS_Store
.Trash
.cache
.config
.dropbox
.fontconfig
.gem
.heroku
.homeconfig.git
.dotfiles.git
.lesshst
.mono
.netrc
.npm
.oh-my-zsh
.passenger
.pgadmin_histoqueries
.pgpass
.pow
.rbenv
.rbenv-arm
.rdebug_hist
.thumbnails
.viminfo
.vim
.Xcode
.zsh-update
.zcompdump
.wireshark
.ssh
.aptitude
.irssi/away.log
.adobe
.codeintel
.wireshark-etc
.cups
.node-gyp
.subversion
.sendcat
.htoprc
.dvdcss
.iterm
.CFUserTextEncoding
.aws
.electrum
.zsh_sessions
.yarnrc
.zcompdump-*
.nvm
.bundle
.ansible
.bash_logout
.nodenv
.nodenv-arm
.sudo_as_admin_successful
.vbox_version
