.DS_Store
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
Sites
tmp
working
ws_fdt5
.Trash
.bash_history
.cache
.config
.dropbox
.fontconfig
.gdb_history
.gem
.homeconfig.git
.lesshst
.mono
.npm
.passenger
.pgadmin_histoqueries
.pgpass
.psql_history
.rbenv
.rdebug_hist
.sqlite_history
.thumbnails
.Xcode
.zsh_history
.zsh-update
.zcompdump